@charset "UTF-8";

/* 共通部分
------------------------------- */
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: bottom;
}
html {
  font-size: 100%;
}
body {
  /* font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; */
  font-family: "Noto Serif JP", serif;
  line-height: 1.7;
  color: #222;
  background-color: #fcfcfc;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: rgba(255, 255, 255, 0.8);
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.modal__content-heading {
  background: rgba(147, 112, 189, 0.8);
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 15%;
  transform: translateX(-50%);
  width: 60%;
}

.background {
  background-image: url(/images/purebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.7;
}

/* .content {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
.content {
  margin: 0 auto;
  width: 90%;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-box {
  /* background-color: #f3f3d9; */
  display: inline-block;
  /* margin-right: 5px; */
  width: 30%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project-heading {
  background-color: rgba(147, 112, 189, 0.8);
}

.project-name {
  text-align: center;
  line-height: 2.5;
  color: #fff;
  font-weight: bold;
}

.project-content {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5px 15px;
}

.group-name {
  text-align: right;
  line-height: 2;
  font-weight: bold;
}

.phrase {
  text-align: center;
  line-height: 2;
  font-weight: bold;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: rgb(177, 203, 252);
  /* text-align: right; */
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 2;
  margin-top: auto;
}

.modal__project-name {
  text-align: center;
  line-height: 2.5;
  color: #fff;
  font-weight: bold;
}

.modal__group-name {
  text-align: center;
  line-height: 2;
}

.modal__phrase {
  text-align: center;
  line-height: 2;
}
